/.mixin.out/
/astralsorcery/
/backups/
/fonts/
/HammerCore/
/hc-recipes/
/journeymap/
/local/
/logs/
/mods/
/resourcepacks/
/saves/
/woot/
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
minecraftinstance.json
OpenComputersMod-1.7.2.67-lua52-native.64.dll
OpenComputersMod-1.7.2.67-lua53-native.64.dll
options.txt
servers.dat
usercache.json
usernamecache.json