# Configuration file

~CONFIG_VERSION: 0.1.0

world-1361484638 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-31818018 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-49135374 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@mrcr
    B:overlayEnabled=true
}


world1101665689 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1434606664 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@mekanis
    B:overlayEnabled=true
}


world1523133669 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@binni
    B:overlayEnabled=true
}


world1711244861 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1764654614 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@magic
    B:overlayEnabled=true
}


world184824965 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=tor
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@astral
    B:overlayEnabled=true
}


world1945624744 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=iron nu
    B:overlayEnabled=true
}


world2010616876 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=wind mi
    B:overlayEnabled=true
}


world2098441282 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@applied
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@mekanis
    B:overlayEnabled=true
}


world329990973 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@envi
    B:overlayEnabled=true
}


world58814295 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@avar
    B:overlayEnabled=true
}


